.gh-gn {
  position: relative;
}

.global-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bs-black);
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 2%;
  border-bottom: 1px solid rgb(80, 79, 79);
  position: relative;
}

.global-header_left a {
  text-decoration: none;
}

.global-header_left a span {
  color: var(--bs-body-bg);
}

.global-header_right button {
  background-color: black;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.global-header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 1.25%;
  gap: 16px;
}

#global-header-button-closed,  #global-header-button-open{
  display: flex;
  align-items: center;
}

#global-header-button-closed.hidden, #global-header-button-open.hidden {
  display: none;
  align-items: center;
}

/* */
#global-nav {
  background-color: black;
  color: white;

  position: absolute;
  top: 100%;
  left: auto;
  width: 100%;

  max-height: 0;
  transition: max-height 0.2s ease;
  overflow: hidden;

  z-index: 10;
}

#global-nav svg {
  --icon-color: white;
}

#global-nav.global-nav-toggle {
  max-height: 600px; 
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 10%;
}

.nav-wrapper ul {
  list-style: none;
  text-decoration: none;
}

.nav-wrapper svg {
  display: none;
}

#global-nav-heading1 {
  display: none;
}

#global-nav-heading2 {
  display: none;
}

#global-nav a {
  color: white;
  text-decoration: none;
}

#global-nav-submenu1 li, 
#global-nav-submenu2 li, 
#global-nav-submenu3 li {
  font-size: 0.875rem;
  padding-top: 20%;
}

#global-nav-submenu1 li:hover, 
#global-nav-submenu2 li:hover, 
#global-nav-submenu3 li:hover {
  text-decoration: underline;
}

.global-nav-split-button,
.global-nav-split-button-learn,
.global-nav-split-button-involved {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#global-nav a {
  margin-left: 0;
}

#global-nav-button-open,
#global-nav-learn-button-open,
#global-nav-involved-button-open {
  background-color: rgb(0, 0, 0);
  margin-left: 2%;
  color: white;
}

#global-nav-button-open:hover {
  box-shadow: inset 0 -3px 0 0 white;
}

.global-nav-list1, 
.global-nav-list2, 
.global-nav-list3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1%;
}

.divider {
  display: inline-block;
  width: 0.5px;
  height: 54px;     
  background: rgb(80, 79, 79);  
}
/*  */

.hero {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

#park-image {
  height: 300px;
}

#park-image img {
  grid-column: 1/2;
  grid-row: 1/3;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#park-header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 0;
  padding: 2%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

#park-header div p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#park-urls {
  background-color: var(--bs-black);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#park-urls a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
}

.disclaimer {
  text-align: start;
  display: flex;
  align-items: center;
  white-space: normal;
  display: inline;
}

.disclaimer a {
  color: var(--bs-link-color);
}