.conditions-main h2 {
  margin: 2% 0 2% 0;
}

.conditions-main h3 {
  margin-bottom: 2%;
}

.alert1, .alert2 {
  display: flex;
  border-bottom: 1px solid rgb(196, 196, 196);
  padding: 1%;
  margin-bottom: 2%;
  
}

.alert-text {
  margin: 0 2% 2% 2%;
}

.alerts svg {
  border-radius: 10px;
  background-color: white;
  width: 50px;
}

.visitor-centers {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 2%;
}

.visitor-centers p, .visitor-centers h4 {
  margin-top: 1.5%;
}

.visitor-centers h4 a {
  text-decoration: none;
  color: black;
}

.visitor-centers h4 a:hover {
  text-decoration: underline;
}

.visitor-center1, 
.visitor-center2,
.visitor-center3,
.visitor-center4,
.visitor-center5,
.visitor-center6,
.visitor-center7,
.visitor-center8,
.visitor-center9,
.visitor-center10,
.visitor-center11 {
  border-bottom: 1px solid rgb(196, 196, 196);
  padding-bottom: 1.5%;
  margin-bottom: 1.5%;
  list-style: none;
}

.activities, .activities h3 {
    margin-bottom: 2%;
}

.activities-list {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 2%;
}

.activities-list li:first-of-type {
  margin-top: 2%;
}

.activities-list li {
  margin-left: 4%;
}



@media screen and (max-width: 600px) {
  main {
    margin: 3%;
  }
  
  .visitor-centers {
    padding: 3%;
  }
}