@import "./partials/header.css";
@import "./partials/global.css";
@import "./partials/footer.css";
@import "./partials/blocks.css";
@import "./conditions.css";
@import "./partials/variables.css";


html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;    
}

main {
  flex: 1;      
}

.disclaimer {
  margin-top: 2%;
}

.info {
  height: 150px;
}

@media screen and (max-width: 600px) {

.container {
  max-width: 600px;         
  margin: 0 auto;    
  padding: 0; 
  width: 100%;
  height: auto;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

#park-image {
  grid-column: 1/2;
  grid-row: 1/3;
}

#park-image img {
  position: absolute;
  z-index: -1;
}

#park-header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 0;
  padding: 4%;
}

.park-header_subtitle p {
  font-size: 0.8rem;
}

#park-urls {
  grid-row: 3 / 4;
}

.intro {
  margin: 5% 0 5% 2%;
}

.park-intro h1 {
  margin-bottom: 3%;
}

.intro {
  margin: 10% 8% 10% 8%;
}

.intro h1 {
  font-size: 1.5rem;
  margin-bottom: 10%;
}

.intro p {
  font-size: 0.9rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
}

.info .media-card img{
  width: 100%;
  height:auto;
}

.park-footer {
  padding: 7%;
}

.park-footer h3 {
  font-size: 1rem;
  margin-bottom: 3%;
}

.park-footer p {
  font-size: 0.75rem;
}

.park-footer .phone {
  margin-top: 3%;
}

}

