main {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 98%;
}

.vc-name {
    padding-top: 3%;
    padding-bottom: 3%;
    
    border-bottom: 1px solid rgba(189, 188, 188, 0.7);
    font-size: 25px;
}

.vc-name svg {
    fill: black;
    background-color: white;
}

main .vc-name .icon {
    width: 30px;
    height: 30px;
}

.vc-info {
    display: flex;
    flex-direction: column;

    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgba(189, 188, 188, 0.7)
}

.vc-info figure {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-self: center;
  width: 90%;
  margin-bottom: 2%;
}

.vc-details-list {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

#vcDirections, 
#vcAmenities, 
#vcContact {
    padding-top: 1.5%;
}

#vcAddresses, 
#vcDirections, 
#vcAmenities, 
#vcContact {
    padding-bottom: 1.5%;
    border-bottom: 1px solid rgba(189, 188, 188, 0.7);
    font-size: 14px;
}

#vcAddresses svg, 
#vcDirections svg, 
#vcAmenities svg, 
#vcContact svg {
    background-color: white;   
    fill: black;
    stroke: black;
}

.vc-addresses__physical, .vc-addresses__mailing {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.vc-addresses__physical h3, .vc-addresses__mailing h3 {
    padding-bottom: 1.5%;
}

#vcDirections p {
    padding-top: 1.5%;
}

#vcAmenities ul {
    list-style: none;
    padding-top: 1.5%;
    margin-left: 1%;
}

#vcAmenities ul li {
    margin-bottom: 8px;
}

.vc-contact__email, .vc-contact__phone {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.vc-gallery svg {
    background-color: white;
}

/*  */

.vc-details-list svg,
.vc-gallery svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: black;
}

.vc-details-list summary {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.vc-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

.vc-gallery > h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 2%;
}

.vc-gallery ul {
  list-style: none;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

/* This is an example of how to clip an image into a square shape */
.vc-gallery img {
  width: 250px; /* set the width to the desired size */
  height: 250px; /* set the height to the same value as the width */
  object-fit: cover;
  object-position: center;
}

.vc-details-list summary::marker,
.vc-details-list summary::-webkit-details-marker {
  display: none;
}

.vc-details-list summary::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../images/arrow.svg");
  background-size: 1rem 1.25rem;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.vc-details-list details[open] > summary::after {
  transform: rotate(180deg);
}